.urgent-area {
  .image-overlay-text {
    position: absolute;
    bottom: 70px;
    left: 30px;
    @media #{$xs-to-md-max} {
      bottom: 50px;
    }
    & .edu {
      @media #{$xs} {
        gap: 5px;
      }
      .pera{
        color: var(--secondary);
        font-size: 16px;
        @media #{$xs} {
          font-size: 14px;
        }
      }
      i {
        color: var(--secondary);
        font-size: 26px;
        @media #{$xs} {
          font-size: 14px;
        }
      }
    }
    & .map {
      @media #{$xs} {
        gap: 5px;
      }
      .pera {
        color: white;
        font-size: 16px;
        @media #{$xs} {
          font-size: 14px;
        }
      }
      i {
        color: var(--white);
        font-size: 26px;
        @media #{$xs} {
          font-size: 14px;
        }
      }
      
      
    }
    .overlay-title {
      .title {
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        color: white;
        @media #{$lg} {
          font-size: 28px;
        }
        @media #{$md} {
          font-size: 24px;
        }
        @media #{$sm} {
          font-size: 18px;
        }
        @media #{$xs} {
          font-size: 16px;
        }
      }
    }
  }
  .image-right-card {
    width: 100%;
    height: 100%;
    padding: 46px 20px;
    background-color: var(--primary);
    border-radius: 0px 10px 10px 0px;
    @media #{$xs-to-md-max}{
      border-radius: 10px;
    }
    .counting-day {
      justify-content: center;
      align-items: center;
      i,
      .pera {
        font-size: 16px;
        color: white;
        font-weight: 400;
        line-height: 25px;
        @media #{$xs} {
          font-size: 14px;
        }
      }
    }
    .title {
      font-size: 20px;
      color: white;
      font-weight: 700;
      margin-bottom: 15px;
      text-align: center;
      line-height: 30px;
      @media #{$xs} {
        font-size: 16px;
      }
    }
    .subtitle {
      font-size: 16px;
      color: var(--info);
      font-weight: 400;
      text-align: center;
      margin-bottom: 24px;
      line-height: 25px; 
      @media #{$xs} {
        font-size: 14px;
      }
    }
    .charges {
      display: flex;
      flex-direction: column;
      .title {
        font-size: 18px;
        color: var(--white) !important;
        font-weight: 700 !important;
        text-align: inherit;
        @media #{$xs} {
          font-size: 14px;
        }
      }
      .pera {
        font-size: 15px;
        font-weight: 600;
        color: var(--secondary);
      }
    }

    .tab-section-two {
      display: none;
    }
    .forward-btn {
      width: 40px;
      height: 40px;
      background-color: var(--secondary);
      border: 1px solid var(--primary);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 20px;
        color: var(--primary-title);
        transform: scaleX(-1);
      }
      &:hover {
        cursor: pointer;
        background-color: transparent;
        border: 1px solid var(--secondary);
        i {
          color: var(--white);
        }
      }
    }
    .tab-btn {
      background-color: white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .donate-btn,
      .details-btn {
        color: var(--primary-title);
        padding: 15px 25px;
        border: 1px solid transparent;
        &.active {
          background-color: var(--secondary);
          color: var(--primary-title);
          &:hover {
            background-color: var(--secondary);
            color: var(--primary-title);
          }
        }
        &:hover {
          background-color: var(--white);
          color: var(--primary-title);
        }
      }
      font-size: 16px;
      font-weight: 700;
      border: none;
      @media #{$xs} {
        font-size: 14px;
      }
    }
    .urgent-tab {
      padding: 15px 25px;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      color: var(--primary-title);
      &.active{
        background-color: var(--secondary);
      }
    }
  }
}
.urgent-area-slide {
  position: relative;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  @media #{$xs-to-md-max}{
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem 0;
    position: absolute;
    bottom: 20px;
    width: 100%;
    @media #{$xs-to-md-max} {
      bottom: 10px;
    }

    list-style-type: none;
    li {
      margin: 0 0.25rem;
    }
    button {
      display: block;
      width: 30px;
      height: 6px;
      padding: 0;
      border: none;
      border-radius: 10px;
      background-color: white;
      text-indent: -9999px;
    }
    .slick-active button {
      width: 20px;
      height: 6px;
      background-color: var(--primary);
    }
  }
}


.xs-p-12{
  @media #{$xs}{
    padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  }
}

.max-w-567{
  max-width: 567px;
}